.Contact {
    animation: transitionInX 750ms;
}

.Contact h1 {
    margin: 30px 0;
}

.Contact h3 {
    margin: 0;
    font-weight: 200;
}

.Contact-form form {
    max-width:420px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
}

.Contact-form form label {
    margin: 8px 0;
    font-size: 1.2rem;
    text-align: left;
}

.Contact-form form input[type="text"], .Contact-form form input[type="email"], textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Contact-form form input[type="email"] {
    width: 100%;
}

.Contact-form form textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.Contact-form form input[type="submit"] {
    margin: 18px 0;
    padding: 8px 0;
    width: 100%;

    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #96D4AF;

    font-size: 1.8rem;
    font-weight: 700;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Contact-form form input[type="submit"]:hover {
    background: #60cb8b;
}

@keyframes transitionInX {
    from {
        opacity: 0;
        transform: rotateX(-16deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@media (max-width:480px) {
    .Contact-form form textarea, .Contact-form form input[type="text"], .Contact-form form input[type="email"] {
        width: 80%;
        margin: 0 auto;
    }

    .Contact-form form label {
        width: 80%;
        margin: 8px auto;
    }

    .Contact-form form input[type="submit"] {
        width: 80%;
        margin: 18px auto;
    }
}