.Navbar {
    height: 100px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar-logo {
    font-size: 3.6rem;
    font-weight: 400;
}

.Navbar-items {
    display: flex;
    list-style: none;
}

.Navbar-item:not(:first-child) {
    margin-left: 30px;
}

.Navbar-item a {
    padding: 8px 12px;
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    border-radius: 16px;
    position: relative;
}

.Navbar-item a::after {
    content: "";
    position: absolute;
    background-color: #005e00;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;

    transition: all 250ms ease-in-out;
}

.Navbar-item a:hover::after {
    width: 100%;
}

@media (max-width: 650px) {

    .Navbar {
        height: 200px;
        flex-direction: column;
    }

}